html {
    background: #f2f2f2;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f2f2;
    margin-top: 0px;
}

img {
    width: 100%;
}

h1 {
    margin:10px 0;
    color: #4fe9e3;
    text-align: center;
}

h2 {
    margin: 10px;
    font-weight: 400;
}

#title {
    margin: 0 auto 10px auto;
    padding: 5px;
    width: 70%;
    color: black;
}

.sticky {
    position: sticky;
    top:0px;
    background-color:black;
    color: #f2f2f2;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    padding:5px;
    font-size: 2em;
}

.content {
    background-color: #f2f2f2;
    width: 90%;
    border: 5px;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
}

.about {
    border-radius: 15px;
    background-color: #f2f2f2;
    text-align: center;
    box-shadow: lightgray 0 0 75px;
    padding: 20% 0% 3% 0%;
    margin: 2%;
}

#about-page {
    padding: 2% 0% 3% 0%;
}

#about-title { 
    color: black;
    font-size: 3em;
}

.card {
    background-color: #f2f2f2;
    border-radius: 15px;
    text-align: center;
    width: 40%;
    height: 50%;
    padding: 40px 0px 0px 0px;
    border: 3px solid black;
    margin: 100px auto 30px auto;
}

#text {
    background-color: #f2f2f2;
    width: 90%;
    margin: 10px auto 10px auto;
    text-align: left;
    padding: 2%;
    padding-bottom:3%;
}

#projects {
    background-color: #f2f2f2;
    width: 90%;
    margin: 10px auto 10px auto;
    text-align: left;
    padding: 2%;
    padding-bottom:3%; 
}

.img_container { 
    float: right;
    border-radius: 0%;
    width: 250px;
    border-radius: 50%;
    border: 4px solid black;
    margin: 25px;
    border-radius: 15px;
}

.img_container_b { 
    float: left;
    border-radius: 0%;
    width: 250px;
    border-radius: 50%;
    border: 4px solid black;
    margin: 25px;
    border-radius: 15px;
}

.card .avatar {
    width: 250px;
    border-radius: 75%;
    margin-top: -250px;
    border: 3px solid black;
}

.contacts {
    margin: -14px;
    padding: 1px;
}

.contacts li {
    width: 40px;
    display: inline-block;
    padding: 20px 10px;
}

.contacts li a img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

#text a:-webkit-any-link {
    font-weight: 900;
    color: #4fe9e3;
    cursor: pointer;
}

#projects a:-webkit-any-link {
    font-weight: 900;
    color: #4fe9e3;
    cursor: pointer;
}

a:-webkit-any-link {
    color: #f2f2f2;
    cursor: pointer;
    text-decoration-line: None;
}

a:hover {
    color: #4fe9e3;
}

@media (max-width: 500px) {
    
    .card .avatar {
        width: 140px;
        border-radius: 50%;
        margin-top: -300px;
        border: 3px solid black;
    }

    .sticky {
        position: sticky;
        top:0px;
        background-color: black;
        color: #f2f2f2;
        margin-bottom: 10px;
        margin-left: -10px;
        margin-right: -10px;
        text-align: center;
        padding:5px;
        font-size: 1em;
    }

    .img_container { 
        float: none;
        width: 200px;
        border: 3px solid black;
        margin: 5% auto 5% auto;
        border-radius: 15px;
        display:block;
    }
}